@page
@model NalinTransactionStoreAndRetrieval.Pages.AddTransactionModel
@{
}
<h2>Add Purchase Transaction</h2>

<form method="post">
    <table>
        <tr>
            <td>
                <label asp-for="InputModel.Description">Description</label>
            </td>
            <td>
                <input asp-for="InputModel.Description" />
            </td>
            <td>
                <span class="error" asp-validation-for="InputModel.Description"></span>
            </td>
        </tr>
        <tr>
            <td>
                <label asp-for="InputModel.Date">Date Time</label>
            </td>
            <td>
                <input asp-for="InputModel.Date" type="date" />
            </td>
            <td>
                <span>(mm-dd-yyyy)</span>
                <span class="error" asp-validation-for="InputModel.Date"></span>
            </td>
        </tr>
        <tr>
            <td>
                <label asp-for="InputModel.Amount">Amount</label>
            </td>
            <td>
                <input asp-for="InputModel.Amount" type="text" />
            </td>
            <td>
                <span>(USD)</span>
                <span class="error" asp-validation-for="InputModel.Amount"></span>
            </td>
        </tr>

        <tr>
            <td>
            </td>
            <td>
                <button type="submit">Submit</button>
            </td>
            <td>
            </td>
        </tr>
    </table>
</form>

