@page
@model IndexModel
@{
    ViewData["Title"] = "Home page";
}

<div class="text-center">
    <h1 class="display-4">Nalin - Transaction Store and Retrieval app - with multi-currency view</h1>
    <p>---</p>
</div>
<p></p>
<div>Use above menu options for operations.</div>
